.booking {
    text-align: center;
}

.Title {
    font-weight: bold;
    font-family: $font-1;
}

.Title1 {
    font-weight: bold;
    font-family: $font-1;
    background-color: $color-1;
    color: $white;
    font-size: 20px;
    text-align: center;
}

.bookingImg {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.info {
    color: $color-3;
}

.text {
    font-family: $font-1;
    font-weight: bold;
    color: $black;
}
