.booking {
    text-align: center;
}

.Title {
    font-weight: bold;
    font-family: $font-1;
}

.bookingImg {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    color: $color-3;
}
