.title {
    font-family: $font-1;
    font-weight: bold;
    font-size: 20px;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-1;
}

.search {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

p {
    margin: 10px;
}

.btnBooking {
    color: $white;
    background-color: $color-3;
}

.alert {
    background-color: $color-3;
}
