@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

$font-1: "Open Sans", sans-serif;

$color-1: #6327e5;
$color-2: #350a93;
$color-3: #59db75;
$white: rgb(253, 253, 253);
$black: rgb(53, 51, 51);
